h2 {
  padding-top: 45px;
  text-align: left;
}

h4 {
  margin: 0px 0px 0px 0px;
  font-size: 20px;
}

.code {
  width: 50%;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1em, 1em, 1em, 1em;
  background-color: white;
}
