
h2 {
  padding-top: 45px;
  text-align: left;
  padding-left: 1.5em;
}

h4 {
  margin: 0px 0px 10px 0px;
  font-size: 20px;
  padding-left: 2.5em;
}

section {
  background-color: #f0f0f5;
  margin: auto;
  width: 80%;
  border-radius: 5px;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.code {
  width: 50%;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #202020;
  color: #B0B0B0;
}

.codewide {
  width: 90%;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #202020;
  color: #B0B0B0;
}

.code-thin {
  width: 50%;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 0.3em;
  padding-right: 0.3em;
  background-color: #202020;
  color: #B0B0B0;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

#ORM-list {
  padding-left: 60px;
  margin-top: -10px;
}



