html {
  background-color: #d1d1e0;
}

h1 {
  font-family: 'Copperplate', 'Copperplate Gothic Light', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 70px;
  margin: 0px 0px 0px 0px;
  display: block;
  padding-top: 40px;
}

h2 {
  font-family: 'Copperplate', 'Copperplate Gothic Light', sans-serif;
  text-align: center;
  font-size: 30px;
  margin: 0px 0px 5px 0px;
}

nav {
  background-color: black;
  text-align: center;
  padding: 10px 0px 10px 0px;
  position: fixed;
  width: 100%;
  display: block;
}

a.nav {
  font-family: 'Copperplate', 'Copperplate Gothic Light', sans-serif;
  font-weight: 100;
  display: inline;
  padding: 0px 20px 0px 20px;
  font-size: 20px;
}

a:link{
  font-family: 'Copperplate', 'Copperplate Gothic Light', sans-serif;
  font-weight: 100;
  color: white;
}

a:hover{
  font-family: 'Copperplate', 'Copperplate Gothic Light', sans-serif;
  font-weight: 100;
  color: white;
  text-decoration: none;
}

a:visited{
    color: red;
}

.coverphoto {
  width: 100%;
  height: 25em;
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  z-index: -1;
}

.profilephoto {
  height: 15.73em;
  width: 10em;
  border: 7px solid #d1d1e0;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 40px;
}

a.bloglink {
  display: block;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40%;
}

p {
  font-family: 'Palatino', serif;
}

footer {
  font-size: 18px;
  text-align: center;
}

.icon {
  height: 3em;
  width: 3em;
}